.DS_Store
settings.source.sh
# Ignore legacy data but only if it appears in the root of the git repo.
/legacy-data
# You can put things like database dumps, temporary files in ./do-not-commit,
# which you might have to create first, and avoid them being accidentally
# committed to git.
do-not-commit
# We want to ignore environment variables used by Docker Compose
.env

# See ./.docker-compose-remember-info.sh for details
.docker-compose-info

# Lambdatest puts these files here if I trigger a tunnel from this directory.
lt.log
ltcupdate
.phpunit.result.cache

drupal/settings/local-settings/unversioned.php
unversioned.source.sh
