[mysqld]
# Avoid MySQL server has gone away.
# See http://stackoverflow.com/questions/12425287.
# This is especially of concern while importing the database.
wait_timeout = 600
max_allowed_packet = 64M
# See https://www.drupal.org/node/2754539
innodb_large_prefix=true
innodb_file_format=barracuda
innodb_file_per_table=true
